@mixin header-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;

  &:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  &:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }

  &:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }

  &:focus {
    outline: 1px transparent;
  }

  &:before {
    display: none;
  }

  &::-webkit-details-marker {
    display: none;
  }

  &.active {
    background-color: #2ea44f;
    color: white;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

iframe {
  border: 0;
  display: block;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr;
  height: 100vh;

  .info-panel {

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        @include header-button
      }
    }

    &__language-buttons {
      button {
        background: transparent;
        box-shadow: none;
        border: 0;
        padding: 6px 10px;
      }
    }
  }

  .human-panel {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__label {
      padding-left: 10px;
    }

    &__buttons {
      button {
        @include header-button
      }
    }
  }

  #info-panel {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
    overflow: hidden;
    background: white;
    border-top: 1px #c7c7c7 solid;

    & > div {
      height: 100%;
    }

    #google {
      overflow-y: scroll;
    }

    .google-header {
      padding-top: 13px;
      padding-left: 15px;

      button {
        @include header-button;
        padding: 3px 10px;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  #human-panel {
    width: 100%;
    height: 100%;

    iframe#human {
      width: 100%;
      height: 100%;
    }
  }
}

.hidden {
  display: none;
}
